
html{
    background: linear-gradient(to bottom right , #306BFF, #1C3E93); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    margin: 0;
}
body{
    background-image: url("bg-removebg-preview.png");
    background-repeat: repeat;
    height: inherit;
    margin: 0;
}
.mainctx{
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 25px;
    justify-content: center;
    place-items: center;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
    transition: display 2s, position 2s, grid-template-columns 2s, margin-left 2s,margin-top 2s;

}

#title{
    text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
    font-size: 65px;
    color:azure;
}
#addplayer{
    border-radius: 15px;
    border: none;
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 55px;
    width: 70%;
    font-family: 'Fredoka One', cursive;
    font: weight 50px;
    color:#000;
    font-size: x-large;
}
#addplayer:hover{
    color: aliceblue;
    transform: scale(1.05);
    cursor: pointer; 
    
}

.mainctx--open{
    transition: ease 2s;
    position: absolute;
    display: grid;
    grid-template-columns: auto 52vh;
    margin-left: 5vh;
    margin-top: -3vh;
    padding: 0;
}
.mainctx--open :nth-child(2) {
    position: relative;
    left: 80vh;
}