
html{
    background: linear-gradient(to bottom right , #306BFF, #1C3E93); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-x: hidden;
    margin: 0;
}
html::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
body{
    background-image: url("bg-removebg-preview.png");
    background-repeat: repeat;
    height: inherit;
    margin: 0;
}
.mainctx{
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
    min-height: 100vh;
}
.nav{
    display: flex;
    flex-direction: column;
    height: 85vh;
    align-items: center;
}
#title{
    justify-self: left;
    text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
    font-size: 5.25vw;
    color:azure;
}
#addplayer{
    border-radius: 15px;
    justify-self: right;
    border: none;
    width: fit-content;
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: fit-content;
    padding: 10px 40px;
    font-family: 'Fredoka One', cursive;
    font-size: 25px;
    color:#000;
    transition: 0.5s ease-in-out;
}
#addplayer:hover{
    color: aliceblue;
    transform: scale(1.05);
    cursor: pointer; 
}
.nav--open{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15vh;
    padding: 0 25px;
    height: 15vh;
    box-sizing: border-box;
    width: 100vw;
    animation-name: addplayer;
    animation-duration: 2s;
}
.nav--closed{
    animation-name: addplayerclosed;
    animation-duration: 2s;
}
@keyframes addplayerclosed {
    0% {
        display: flex;
        flex-direction: row;
        height: 13vh;
        width: 100vw;
        gap: 38vw;
    }
    74%{
        flex-direction: row;
        gap: 20px;
    }
    75%{
        flex-direction: column;
        gap: 0;
    }
    100%{
        display: flex;
        height: 85vh;
    }
}
@keyframes addplayer {
    from {
        display: flex;
        flex-direction: column;
        height: 85vh;
        align-items: center;
    }
    to {
        display: flex;
        flex-direction: row;
        height: 15vh;
        width: 100vw;
    }
  }

@keyframes playerwhiteBox {
    from{
        display: none;
        background: none;
        bottom:0;
        right:0;
        width: 0;
        height: 0;
    }
    to{
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: aliceblue;
        width: 95vw;
        margin-left: 2.5vw;
        height: 80vh;
        border-radius: 15px;
    }
}

@keyframes whiteBoxClossing{
    from{
        background-color: aliceblue;
        width: 95vw;
        margin-left: 2.5vw;
        border-radius: 15px;
        height: 80vh;
    }
    to{
        background: none;
        margin-left: 0vw;
        width: 0vw;
        height: 0;
    }

}
@keyframes gradientbg {
    from{
        background: none;
        width: 15vw;
        height: 0vh;
    }
    to{
        background: linear-gradient(to bottom right , #306BFF, #1C3E93); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        width: 15vw;
        height: 14vh;
    }
}
@keyframes profileGradientani {
    from{
        width: 0vw;
        height: 0vh;
        border: white;
    }
    to{
        width: 7.5vw;
        height: 15vh;
        border: 3px solid white;
    }
}
@keyframes footerAnim {
    from{
        opacity: 0;
        height: 0vh;

    }
    to{
        opacity: 0.1;
        height: 30vh;

    }
}
@keyframes playercard {
    from{
        height: 0vh;
        box-shadow: none;

    }
    to{
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4), 0 8px 22px 0 rgba(0, 0, 0, 0.3);
        height: 43vh;
    }
}
.players--closed{
    animation-name: whiteBoxClossing;
    animation-duration: 2.5s;
}
.players--open{
    display: flex !important;
}
.players{
    margin-bottom: 5vh;
    display: none;
    grid-template-columns: auto auto auto auto;
    background-color: aliceblue;
    flex-wrap: wrap;
    justify-content: center;
    width: 95vw;
    margin-left: 2.5vw;
    min-height: 80vh;
    border-radius: 15px;
    animation-name: playerwhiteBox;
    animation-duration: 2s;
}
.player{
    margin: 25px;
    width: fit-content;
    background: none;
    display: grid;
    place-items: center;
    border-radius: 15px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4), 0 8px 22px 0 rgba(0, 0, 0, 0.3);
    height: 43vh;
    overflow: hidden;
    animation-name: playercard;
    animation-duration: 1s;
    transition: 1s ease-in-out;
}
.player:hover{
    box-shadow: 0 6px 10px 0 rgba(12, 44, 253, 0.4), 0 8px 22px 0 rgba(12, 44, 253, 0.3);
    transform: scale(1.05);
    cursor: pointer;
}
.gradientBgPlayer{
    display: flex;
    background: linear-gradient(to bottom right , #306BFF, #1C3E93); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 200px;
    height: 14vh;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    justify-content: center;
    align-items: center;
    animation-name: gradientbg;
    animation-duration: 1s;
}
.profileGradient{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    width: 100px;
    height: 100px;
    border: 3px solid white;
    border-radius: 50%;
    z-index: 10;
    animation-name: profileGradientani;
    animation-duration: 1s;
    text-align: center;
}
.profileGradient h1{
    margin: none;
   font-size: 40px;
   background: -webkit-linear-gradient(#3494E6, #EC6EAD);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.footer{
    background: aliceblue;
    width: 200px;
    height: 30vh;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-image: url("playerCardBg.png");
    background-repeat: repeat;
    opacity: 0.1;
    animation-name: footerAnim;
    animation-duration: 1s;
}

.svg {
    width: 300px;
    position: absolute;
    margin-left: -5vh;
    pointer-events: none;
    height: 44vh;
}
@media screen and (max-width:768px){
    .nav--open{
        grid-template-columns: 1fr;
        grid-template-rows: 50px 40px;
        height: 100px;
    }
    #title{
        justify-self: center;
        font-size: 32px;
    }
    #addplayer{
        justify-self: center;
        font-size: 16px;
    }
}