
html{
    background: linear-gradient(to bottom right , #306BFF, #1C3E93); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    margin: 0;
}
body{
    background-image: url("bg-removebg-preview.png");
    background-repeat: repeat;
    height: inherit;
    margin: 0;
}
.mainctx{
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
}
.nav{
    display: flex;
    flex-direction: column;
    height: 85vh;
    justify-content: center;
    place-items: center;
}
#title{
    text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
    font-size: 65px;
    color:azure;
}
#addplayer{
    border-radius: 15px;
    border: none;
    width: fit-content;
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 55px;
    padding: 10px 40px;
    font-family: 'Fredoka One', cursive;
    font: weight 50px;
    color:#000;
    font-size: x-large;
}
#addplayer:hover{
    color: aliceblue;
    transform: scale(1.05);
    cursor: pointer; 
}
.nav--open{
    display: flex;
    flex-direction: row;
    height: 15vh;
    width: 100vw;
    gap: 35vw;
    animation-name: addplayer;
    animation-duration: 2s;
}
.nav--closed{
    animation-name: addplayerclosed;
    animation-duration: 2s;
}
@keyframes addplayerclosed {
    0% {
        display: flex;
        flex-direction: row;
        height: 13vh;
        width: 100vw;
        gap: 38vw;
    }
    74%{
        flex-direction: row;
        gap: 20px;
    }
    75%{
        flex-direction: column;
        gap: 0;
    }
    100%{
        display: flex;
        height: 85vh;
    }
}
@keyframes addplayer {
    from {
        gap: 0vw;
        height: 85vh;
    }
    to {
        display: flex;
        flex-direction: row;
        height: 15vh;
        width: 100vw;
        gap: 35vw;
    }
  }

@keyframes playerwhiteBox {
    from{
        display: none;
        background: none;
        bottom:0;
        right:0;
        width: 0;
        height: 0;
    }
    to{
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: aliceblue;
        width: 95vw;
        margin-left: 2.5vw;
        height: 80vh;
        border-radius: 15px;
    }
}

@keyframes whiteBoxClossing{
    from{
        background-color: aliceblue;
        width: 95vw;
        margin-left: 2.5vw;
        border-radius: 15px;
        height: 80vh;
    }
    to{
        background: none;
        margin-left: 0vw;
        width: 0vw;
        height: 0;
    }

}
.players--closed{
    animation-name: whiteBoxClossing;
    animation-duration: 2.5s;
}
.players--open{
    display: grid !important;
}
.players{
    display: none;
    grid-template-columns: auto auto auto auto;
    background-color: aliceblue;
    justify-content: center;
    width: 95vw;
    margin-left: 2.5vw;
    height: 80vh;
    border-radius: 15px;
    animation-name: playerwhiteBox;
    animation-duration: 2s;
}
.player{
    margin-top: 15vh !important;
    margin: 2.5vw;
    background: none;
    border-radius: 15px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4), 0 8px 22px 0 rgba(0, 0, 0, 0.3);
    height: 43vh;
    overflow: hidden;
}
.gradientBgPlayer{
    display: flex;
    background: linear-gradient(to bottom right , #306BFF, #1C3E93); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 15vw;
    height: 14vh;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    justify-content: center;
    align-items: center;
}
.profileGradient{
    margin-top: 15vh;
    width: 7.5vw;
    height: 15vh;
    border: 3px solid white;
    border-radius: 50%;
    z-index: 10;
}
.footer{
    background: aliceblue;
    width: 15vw;
    height: 30vh;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-image: url("playerCardBg.png");
    background-repeat: repeat;
    opacity: 0.1;
}

.svg {
    width: 300px;
    position: absolute;
    margin-left: -5vh;
    pointer-events: none;
}
